.container {
  width: 650px;
  margin: auto;
  color: #333333;
}

header {
  text-align: center;
}

header img {
  width: 20%;
}

header p {
  color: #004d4c;
  background-color: #fdfbf1;
  border-top: 1px solid #ffde8b;
  font-size: 0.7rem;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 7px 0;
}

main {
  margin-top: 50px;
}

main h1 {
  text-align: center;
}

main video {
  max-width: 100%;
  border-radius: 7px;
  height: 433.33px;
  background: #000;
}

.image-container {
  text-align: center;
  color: #999999;
}

.more-recipes {
  padding-left: 16px;
  border-left: 1px solid yellow;
}

.more-recipes p {
  margin: 0;
}

.more-recipes p:first-child {
  color: #b54710;
}

.more-recipes p:last-child {
  color: #177a7a;
  text-decoration: underline;
}

main h3 {
  border-bottom: 1px solid #cef5f4;
  padding-bottom: 12px;
}

.list-title {
  font-weight: 600;
}

main p a {
  color: #177a7a;
}
